<!DOCTYPE html>
<html lang="">
<head>
    <title>注册</title>
     <link rel="stylesheet" type="text/css" href="../static/css/register.css">
      <link rel="shortcut icon" href="../static/img/logo.ico">
</head>
<body>
<div class="container">
    <h1>注册</h1>

    <form id="register-form" action="/register" method="POST">
        <input type="text" id="new-username" name="new-username" placeholder="用户名" required><br>
        <input type="password" id="new-password" name="new-password" placeholder="密码" required><br>
        <input type="submit" value="注册">
    </form>
    <p>
        已有账号？<a href="../templates/login" class="toggle-link">返回登录</a>
    </p>
</div>
</body>
</html>